body {
    background-image: url("쿼카.jpg");
    /*background-image: url("쿼카1.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    #mp{
         width:1500px; height: 720px;
         
        margin-left: 30px;
        }
    #lp {
        width: 370px; height: 720px;
                
        float:left;
    }

     .cal {
        margin-top: 10px;
        margin-bottom: 80px;
               
        width: 340px; height: 300px;
                
    }

    .list{
        margin-top: 30px;
        margin-left: 25px;
        width: 290px; height: 30px;
        background-color: transparent;
        border: 0;     
    }
   

    #rp {
        width: 1030px; height: 720px;
                
        background-color: white;
        float:left;
        border-radius: 30px;
        box-shadow: 5px 2px 10px #585858;
                
    }
    #bookmark{
        width: 100px; height: 950px;
                
        float:left;
    }
    .bookmarker{
        width: 80px; height: 120px;
        margin-right: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        float:right;
        border-radius: 41px;
                
    }
    .hidden{
        width: 100px;  
        float:right;
        overflow: hidden;
    }

    

    